body {
  background-color: #f0f0f0;

  .form-horizontal {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    
    h2{
      text-align: center;
    }
    
    .alert {
    color: red;
    margin: 0;
    padding: 0;
    text-align: center;
    }
  }
  .actions{
    text-align: center;
  }
}