.actions{
    float: right;
}

// .header{
//     height: 120px;
//     .title{
//         float: left;
//     }
//     ul{
//         list-style: none;
//         li{
//             display: inline-block;   
//             float: right;
//         }
//     }
// }
p.alert{
    float: left;
}
.tweet_list{
    margin-top: 60px;
    .per{
        border-radius: 10px;
        height: 130px;
        border-style: solid;
        padding: 10px;
        background-color: #DADADA;
        &.mine{
            background-color: #C1EFFF;
        }
         p {
            margin: 0;
        }
        .image{
            width: 70px;
            vertical-align: top;
            float: left;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .clearfix:after {
            content: "";
            display: block;
            clear: both;
        }
        .tweet_info{
            margin: auto;
            .name{
                display: inline-block;
                margin-left: 10px;
            }
            .datetime{
                display: inline-block;
                margin-left: 10px;
            }
        }
        .content{
            margin-left: 100px;
            word-wrap: break-word;
        }
    }
}


