.form-horizontal {
//   p.alert {
//     color: red;
//     margin: 0;
//     padding: 0;
//     text-align: center;
//   }
//   .links {
//     text-align: right;
//   }
  #error_explanation{
    color: red;
    margin: 10px 0 0 10px;
    width: 500px; 
    // text-align: center;
  }
}
.action{
    text-align: center;
}